*{
    color: #fff;
}

h1{
    color: #F1C40F;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: auto;
}
.color{
    font-size: 4rem;
    font-weight: 300;
    color: #F1C40F;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.bg{
    height: 100%;
    width: 100%;
    position: relative;
    background: url(../images/bn.jpg) ;
    background-size: 100% 100%;
     z-index: 1;
}
.bg::after{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
   opacity: .2;
   z-index: -1;
}
.form-container{
    border: 0px solid #ffff;
    padding: 50px 60px;
    margin-top: 10vh;
    margin: auto;
    -webkit-box-shadow: 3px 4px 20px 7px rgba(5,5,5,1);
    -moz-box-shadow: 3px 4px 20px 7px rgba(5,5,5,1);
     box-shadow: 3px 4px 20px 7px rgba(5,5,5,1);
}
.link{
  color: #F1C40F;
  text-align: center;
}

.link:hover{
  color: #F1C40F;
}
.link:active{
  color: #F1C40F;
}
