h1{
    color: #F1C40F;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: auto;
}
#map{
height: 400px;
width: 800px;
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
margin:  0 auto;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
iframe {
 max-width: 100%;
 height: auto;
 margin: auto;
}

.bg{
    height: 100%;
    width: 100%;
    position: relative;
    background: url(../images/bc.jpg) ;
    background-size: 100% 100%;
     z-index: 1;
}
.bg::after{
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
   opacity: .8;
   z-index: -1;
}
.label-color{
    color: #F1C40F;
    text-align: center;
    text-transform: uppercase;
    margin-top: auto;
}
.form-container{
    border: 0px solid #ffff;
    padding: 50px 60px;
    margin-top: 10vh;
    margin: auto;
    -webkit-box-shadow: 3px 4px 20px 7px rgba(5,5,5,1);
    -moz-box-shadow: 3px 4px 20px 7px rgba(5,5,5,1);
     box-shadow: 3px 4px 20px 7px rgba(5,5,5,1);
}
